@import url(https://fonts.adobe.com/fonts/freight-sans?as_campaign=a8192&as_camptype=&as_channel=affiliate&as_source=partnerize&clickref=1011lwU8XQpo&mv=affiliate&mv2=pz);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: freight-sans-pro, sans-serif;
  font-style: normal;
  font-weight: 300;
}

/*colores fondo index*/
/*tipografia index-img1*/
/*color general*/
/*bordes*/
.header {
  background-color: none;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
.header .navbar .contenedorLogo {
  width: 80px;
  margin-right: 8%;
  margin-left: 8%;
}
.header .navbar .contenedorLogo a img {
  width: 100%;
  min-width: 40px;
  max-width: 60px;
}
.header .navbar .navbar-toggler {
  border: none;
  background-color: transparent;
}
.header .navbar .navbar-nav {
  text-align: center;
}
.header .navbar .navbar-nav .nav-item {
  margin: 0 10px;
}
.header .navbar .navbar-nav .nav-item .nav-link {
  text-decoration: none;
  color: rgb(109, 109, 109);
  font-weight: bold;
  font-family: "freight-sans-pro", sans-serif;
  transition: color 0.3s;
}
.header .navbar .navbar-nav .nav-item .nav-link:hover {
  color: #2d8647;
}

.index {
  margin: 5%;
  margin-top: 2%;
  margin-bottom: 2%;
}
.index .imagen-con-descripcion {
  background-color: rgb(51, 165, 193);
}
.index .imagen-con-descripcion,
.index .imagen-con-descripcion-izquierda,
.index .imagen-con-descripcion-num3 {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.index .imagen-con-descripcion img,
.index .imagen-con-descripcion-izquierda img,
.index .imagen-con-descripcion-num3 img {
  width: 50%;
  height: auto;
}
.index .imagen-con-descripcion .descripcion,
.index .imagen-con-descripcion-izquierda .descripcion,
.index .imagen-con-descripcion-num3 .descripcion {
  padding: 10px;
}
.index .imagen-con-descripcion .descripcion h1,
.index .imagen-con-descripcion-izquierda .descripcion h1,
.index .imagen-con-descripcion-num3 .descripcion h1 {
  font-size: 2.2em;
  font-weight: bold;
  color: #fcfcdf;
  text-align: center;
  margin-bottom: 10px;
}
.index .imagen-con-descripcion .descripcion p,
.index .imagen-con-descripcion-izquierda .descripcion p,
.index .imagen-con-descripcion-num3 .descripcion p {
  font-size: 2em;
  text-align: center;
  color: #fcfcdf;
}
.index .imagen-con-descripcion-izquierda {
  flex-direction: row-reverse;
  background-color: #4eaa88;
}
.index .imagen-con-descripcion-izquierda .descripcion {
  width: 100%;
}
.index .imagen-con-descripcion-izquierda .descripcion p {
  font-size: 30px;
  text-align: center;
  align-items: center;
  color: #00623e;
  padding: 3%;
}
.index .imagen-con-descripcion-izquierda .descripcion h2 {
  padding: 5%;
  font-size: 45px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
  color: #005838;
}
.index .imagen-con-descripcion-izquierda img {
  width: 70%;
  height: auto;
  object-fit: cover;
}
@media (max-width: 768px) {
  .index .imagen-con-descripcion-izquierda img {
    width: 100%;
  }
}
.index .imagen-con-descripcion-num3 {
  background-color: #fc6446;
}
.index .imagen-con-descripcion-num3 img {
  width: 50%;
  height: auto;
  margin-right: 10px;
  object-fit: cover;
}
@media (max-width: 768px) {
  .index .imagen-con-descripcion-num3 img {
    min-width: 100%;
  }
}
.index .imagen-con-descripcion-num3 .descripcion {
  width: 50%;
  background-color: transparent;
  padding: 10px;
}
.index .imagen-con-descripcion-num3 .descripcion h2 {
  font-size: 2.5em;
  font-weight: bold;
  color: #fcfcdf;
  text-align: auto;
  margin-bottom: 10px;
}
.index .imagen-con-descripcion-num3 .descripcion p {
  font-size: 1.3em;
  text-align: auto;
  color: #fefee3;
}
.index .boton-index {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}
.index .boton3 {
  font-size: 20px;
  font-weight: bold;
  padding: 4px 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  border: black;
  border-radius: 30px;
  text-decoration: none;
  color: #444040;
}
.index .boton3:hover {
  transition: color 0.5s;
  color: rgb(240, 239, 239);
}
@media screen and (max-width: 856px) {
  .index .index,
  .index .imagen-con-descripcion,
  .index .imagen-con-descripcion-izquierda,
  .index .imagen-con-descripcion-num3 {
    overflow: hidden;
    flex-direction: column;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
  }
  .index .index .imagen-con-descripcion img,
  .index .index .imagen-con-descripcion-izquierda img,
  .index .index .imagen-con-descripcion-num3 img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    object-fit: cover;
  }
  .index .index .imagen-con-descripcion .descripcion,
  .index .index .imagen-con-descripcion-izquierda .descripcion,
  .index .index .imagen-con-descripcion-num3 .descripcion {
    width: 100%;
  }
  .index .index .imagen-con-descripcion .descripcion p,
  .index .index .imagen-con-descripcion-izquierda .descripcion p,
  .index .index .imagen-con-descripcion-num3 .descripcion p {
    font-size: 25px;
    text-align: center;
  }
  .index .index .imagen-con-descripcion .descripcion h2,
  .index .index .imagen-con-descripcion-izquierda .descripcion h2,
  .index .index .imagen-con-descripcion-num3 .descripcion h2 {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .index .imagen-con-descripcion-num3 {
    flex-direction: column;
  }
  .index .imagen-con-descripcion-num3 img {
    min-width: 375px;
    margin-bottom: 10px;
  }
  .index .imagen-con-descripcion-num3 .descripcion {
    width: 50%;
  }
  .index .imagen-con-descripcion-num3 h2 {
    font-size: 2.3em;
    text-align: center;
  }
  .index .imagen-con-descripcion-num3 p {
    font-size: 1rem;
    text-align: center;
  }
  .index .boton-index {
    margin-top: 10px;
  }
  .index .boton3 {
    font-size: 18px;
    padding: 4px 8px;
  }
}
@media (max-width: 850px) {
  .index .imagen-con-descripcion {
    flex-direction: column;
    align-items: center;
  }
  .index .imagen-con-descripcion img {
    width: 100%;
    margin-bottom: 10px;
  }
  .index .imagen-con-descripcion .descripcion {
    width: 50%;
  }
}

.registrar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5%;
}
.registrar .contenedor-registro {
  display: flex;
  border-radius: 20px;
  box-shadow: none;
  height: 500px;
  max-width: 900px;
  transition: all 1s ease;
  margin: 10px;
}
.registrar .contenedor-registro .informacion {
  width: 40%;
  display: flex;
  padding: 5px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #1e3932;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding-top: 10%;
}
.registrar .contenedor-registro .informacion .apartado {
  padding: 0 30px;
  color: rgb(255, 255, 255);
  text-align: center;
}
.registrar .contenedor-registro .informacion .apartado .img {
  max-width: 35%;
  max-height: 35%;
  padding-bottom: 15px;
}
.registrar .contenedor-registro .informacion .apartado h1 {
  font-size: 2.5rem;
}
.registrar .contenedor-registro .informacion .apartado p {
  margin: 15px;
  font-weight: normal;
  color: #f9ebeb;
}
.registrar .contenedor-registro .informacion .apartado a {
  background-color: #036f49;
  outline: none;
  border: solid 2px #053826;
  border-radius: 20px;
  padding: 10px 20px;
  color: rgb(220, 248, 224);
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
}
.registrar .contenedor-registro .informacion .apartado a:hover {
  background-color: #305249;
  border: none;
  color: #a5ada8;
  box-shadow: 0 2px 5px black;
}
.registrar .contenedor-registro .conte-informacion {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  text-align: center;
  background-color: #f1f1f1;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.registrar .contenedor-registro .conte-informacion .conte-informacion-derecha {
  padding: 0 30px;
}
.registrar .contenedor-registro .conte-informacion .conte-informacion-derecha h2 {
  font-size: 2rem;
}
.registrar .contenedor-registro .conte-informacion .conte-informacion-derecha p {
  color: #555;
}
.registrar .contenedor-registro .conte-informacion .conte-informacion-derecha .iconos-registro {
  margin: 10px 0;
}
.registrar .contenedor-registro .conte-informacion .conte-informacion-derecha .iconos-registro i {
  border-radius: 50%;
  padding: 15px;
  cursor: pointer;
  margin: 0 10px;
  color: rgb(14, 0, 0);
  border: solid thin rgb(46, 83, 57);
  transition: background-color 0.3s;
}
.registrar .contenedor-registro .conte-informacion .conte-informacion-derecha .iconos-registro i:hover {
  background-color: #0a895a;
  color: #999;
}
.registrar .contenedor-registro .conte-informacion .conte-informacion-derecha .form-registro {
  margin: 30px 0 0 0;
  overflow: hidden;
}
.registrar .contenedor-registro .conte-informacion .conte-informacion-derecha .form-registro label {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  border-radius: 20px;
  padding: 0 10px;
  padding-top: 2%;
}
.registrar .contenedor-registro .conte-informacion .conte-informacion-derecha .form-registro label input {
  width: 100%;
  padding: 10px;
  background-color: #e4e4e4;
  border: none;
  border-radius: 20px;
  color: #333;
}
.registrar .contenedor-registro .conte-informacion .conte-informacion-derecha .form-registro label input::placeholder {
  color: #555;
}
.registrar .contenedor-registro .conte-informacion .conte-informacion-derecha .form-registro input[type=submit] {
  background-color: #00623e;
  color: #f3e4e4;
  border-radius: 20px;
  border: none;
  padding: 10px 15px;
  margin-top: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.registrar .contenedor-registro .conte-informacion .conte-informacion-derecha .form-registro input[type=submit]:hover {
  background-color: #0a895a;
}

/*mediaq de registro*/
@media screen and (max-width: 750px) {
  .registrar .bodyregistro {
    font-size: 12px;
  }
}
@media screen and (max-width: 590px) {
  .registrar .bodyregistro {
    font-size: 10px;
  }
  .registrar .contenedor-registro {
    height: auto;
    flex-direction: column;
  }
  .registrar .contenedor-registro .informacion {
    width: 100%;
    padding: 20%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-top: 100px;
  }
  .registrar .contenedor-registro .conte-informacion {
    width: 100%;
    padding: 20%;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 0px;
  }
  .registrar .contenedor-registro .contenedor-registro.informacion {
    margin-top: 90%;
  }
}
.menubebidas {
  padding-left: 4%;
  padding-right: 4%;
}
.menubebidas .menuParrafo h1 {
  color: rgba(51, 51, 51, 0.672);
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
  margin-left: 5%;
  padding-bottom: 25px;
  padding-top: 25px;
}
.menubebidas .menuParrafo h2 {
  color: #1e3932;
  margin-left: 5%;
  font-size: 4, 0rem;
  margin-bottom: 20px;
  font-weight: 700;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.menubebidas .tituloProducto {
  font-weight: 6;
  font-size: 30px;
  margin-left: 5%;
  display: block;
  margin-bottom: 100px;
  border-bottom: 1px solid #999;
  border-top: 1px solid #999;
  padding-bottom: 25px;
  padding-top: 25px;
}

.menubebidas .contenedorProductos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
.menubebidas .bebidas {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 5%;
  padding: 0 5%;
}
.menubebidas .bebidas img {
  width: 100%;
  height: auto;
  max-width: 250px;
  max-height: 250px;
  margin-top: 20px;
  margin-bottom: 10px;
  border-radius: 50%;
  background-color: #1e3932;
  border: 5px black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.menubebidas .bebidas img:hover {
  transform: scale(1.1);
  box-shadow: inset 0 0 25px rgb(164, 174, 169);
}
.menubebidas .bebidas h4 {
  margin-bottom: 5px;
  font-size: 25px;
  font-weight: bold;
  color: #1e3932;
  text-align: center;
  padding-bottom: 50px;
  margin-bottom: 50px;
}

@media (max-width: 768px) {
  .menubebidas .contenedorProductos {
    grid-template-columns: repeat(2, 1fr);
  }
  .menubebidas .bebidas h4 {
    font-size: 18px;
  }
}
@media (max-width: 480px) {
  .menubebidas .contenedorProductos {
    grid-template-columns: repeat(2, 1fr);
  }
  .menubebidas .bebidas img {
    min-width: 130px;
  }
  .menubebidas .bebidas h4 {
    font-size: 16px;
  }
}
.main-contacto {
  text-align: center;
}
.main-contacto .titulo-contacto {
  width: 100%;
  max-height: 150px;
  background-color: #1e3932;
  overflow: hidden;
}
.main-contacto .titulo-contacto h1 {
  font-weight: bold;
  line-height: 120px;
  margin: 0;
  color: #ffffff;
  font-size: 3rem;
  margin-right: 30%;
}
.main-contacto .contenido p {
  font-size: 20px;
  text-align: left;
  margin-top: 25px;
  padding-right: 4%;
  padding-left: 25%;
  padding-right: 25%;
}
.main-contacto .contenido img {
  max-width: 100%;
  height: auto;
  margin-top: 25px;
  margin-bottom: 20px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
  margin-left: auto;
  margin-right: auto;
}
.main-contacto .contenido h2 {
  font-size: 33px;
  text-align: left;
  margin-top: 25px;
  margin-bottom: 20px;
  font-weight: bold;
  padding-top: 15px;
  padding-left: 25%;
  padding-right: 25%;
}
.main-contacto .contenido h3 {
  font-size: 25px;
  text-align: left;
  margin: 0;
  padding: 20px;
  font-weight: bold;
  padding-left: 25%;
  padding-right: 25%;
}

@media screen and (max-width: 768px) {
  .main-contacto .titulo-contacto h1 {
    font-size: 3rem;
    margin-right: 0;
  }
  .main-contacto .contenido p,
  .main-contacto .contenido h2,
  .main-contacto .contenido h3 {
    padding-left: 5%;
    padding-right: 5%;
  }
}
@media screen and (max-width: 576px) {
  .main-contacto .titulo-contacto h1 {
    font-size: 1.8rem;
  }
  .main-contacto .contenido p {
    font-size: 18px;
  }
  .main-contacto .contenido h2 {
    font-size: 28px;
  }
  .main-contacto .contenido h3 {
    font-size: 22px;
  }
}
.rewards {
  display: flex;
  height: 100vh;
}

.no-scrollable {
  width: 33%;
  background: linear-gradient(0deg, rgb(29, 57, 50) 0%, rgb(10, 105, 75) 100%);
  padding: 0;
  justify-content: center;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.no-scrollable h1 {
  padding-top: 20px;
  padding-bottom: 25px;
  color: whitesmoke;
  padding: 5%;
  font-size: 30px;
  font-weight: 600;
}

.no-scrollable .images-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.no-scrollable .img2 {
  max-width: 350px;
  width: auto;
  height: auto;
}

.no-scrollable .img1 {
  max-width: 150px;
  width: auto;
  height: auto;
}

.no-scrollable .apartado {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
}

.scrollable {
  width: 100%;
  overflow-y: auto;
  background-color: #e0e0e0;
  padding: 0;
}

.scrollable h2 {
  padding: 5%;
}

.scrollable .footer {
  background-color: #d5d6d6;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columnas para pantallas grandes */
  gap: 5px;
}

.rewards .scrollable .contenedor-2 .grid-container {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  gap: 5px;
}

.contenedor-3, .contenedor-4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 15px;
}

.rewards h2 {
  margin-bottom: 20px;
  padding-top: 10%;
}

.contenedor-4 .gift {
  max-width: 400px;
  width: auto;
  height: auto;
  margin-bottom: 10px;
}

.contenedor-4 .pago {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.contenedor-4 img {
  gap: 30px;
}

.scrollable .contenedor-2 img {
  padding-top: 20px;
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.contenedor-3 img {
  padding-top: 20px;
  max-width: 500px;
  max-height: 500px;
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.contenedor-4 .pago img {
  margin: 30px;
}

.contenedor-3, .contenedor-4 p {
  font-weight: bold;
  color: #555;
  font-size: 20px;
}

.grid-item {
  padding: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}

.grid-item p {
  font-weight: bold;
  color: #555;
  font-size: 85%;
}

.grid-item img {
  padding-top: 15px;
  max-width: 70%;
  height: auto;
  display: block;
  margin-bottom: 10px;
}

@media screen and (max-width: 1100px) {
  .rewards {
    flex-direction: column;
  }
  .scrollable {
    overflow-y: visible;
  }
  .no-scrollable,
  .scrollable {
    width: 100%;
  }
  .rewards.no-scrollable img {
    max-width: 300px;
    width: auto;
    height: auto;
  }
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 9%;
  }
  .rewards .scrollable .contenedor-2 .grid-container {
    grid-template-columns: repeat(2, 3fr);
  }
  .grid-item img {
    max-width: 45%;
    max-width: 150px;
    min-width: 90px;
  }
  .grid-item p {
    font-size: 100%;
    min-height: 50px;
  }
  .no-scrollable {
    padding-bottom: -10;
  }
}
.apartado {
  width: 100%;
  padding: 0 30px;
  color: rgb(255, 255, 255);
  text-align: center;
}

.apartado .img { /*imagen registro*/
  max-width: 35%;
  max-height: 35%;
  padding-bottom: 15px;
}

.apartado p {
  margin: 15px;
  font-weight: normal;
  color: #f9ebeb;
}

.apartado a {
  background-color: #036f49;
  outline: none;
  border-radius: 20px;
  padding: 10px 20px;
  color: rgb(220, 248, 224);
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.rewards .apartado a {
  background-color: rgba(0, 130, 72, 0);
  outline: none;
  margin: 25px;
  font-weight: bold;
  border: solid 1px #fbfbfb;
  border-radius: 20px;
  padding: 10px 20px;
  color: rgb(220, 248, 224);
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.apartado a:hover { /*aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa*/
  background-color: #305249;
  border: none;
  color: #a5ada8;
  box-shadow: 0 2px 5px color black;
}

.footer {
  background-color: #e6e4e4;
  margin-top: 5%;
  padding: 0;
  text-align: center;
}
.footer .pre-footer {
  background-color: #1e3932;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
}
.footer .pre-footer img {
  width: 15%;
  height: 100%;
  margin-right: 10px;
  display: flex;
  text-align: center;
  margin: auto;
}
.footer .footer-info .redes-Sociales {
  display: inline-block;
  margin-right: 10px;
  padding-top: 20px;
}
.footer .footer-info .redes-Sociales img {
  width: 30px;
  height: 30px;
  margin-bottom: 20px;
}
.footer .footer-info .enlaces-Footer li {
  display: inline-block;
  margin-left: 10px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  color: black;
}
.footer .footer-info .enlaces-Footer li a {
  color: rgb(43, 39, 39);
  text-decoration: none;
}
.footer .footer-info .lorem-Footer p {
  margin-top: 20px;
  padding-bottom: 25px;
}/*# sourceMappingURL=estilo.css.map */