/*colores fondo index*/

$IndexApartado1:rgb(51, 165, 193);
$IndexApartado2:#4eaa88;
$IndexApartado3:#fc6446;

/*tipografia index-img1*/
$titulosFoto1:#fcfcdf;
$titulosFoto2:#00623e;


/*color general*/
$VerdeStarbacks:#1e3932;
$verdeDegradado:linear-gradient(0deg, rgb(29, 57, 50) 0%, rgb(10, 105, 75) 100%);



/*bordes*/
$marco-fino :2px 2px 5px rgba(0, 0, 0, 0.2);
